<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>openGUI</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fileinput.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.min.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/fileinput.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.min.js}"></script>
    <style>
        .ibox{
            background-color: white;
            padding: 15px;
            margin-bottom: 25px
        }
        .colStyle {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 70px;
        }
    </style>
</head>
<body style="background-color: #b4b4b7">

    <div class="" style="padding: 20px;">
        <div class="row" style="justify-content:center">
            <div class="col-sm-2">
                <div class="ibox">
                    <img src="/images/logo.png" style="width: 100%;height:145px;"/>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="ibox">
                    <form id="myForm">
                        <!-- 输入 -->

                        <div class="form-group row" th:each="item : ${config.input}">
                            <label class="col-sm-3" th:for="${item.name}" th:text="${item.name}"></label>

                            <div class="col-sm-9" th:if="${item.type=='file'}">
                                <input type="file" name="file" class="form-control-file" th:id="${item.name}"/>
                                <input type="hidden" th:name="${item.name}"/>
                                <script th:inline="javascript">
                                    $("#"+[[${item.name}]]).fileinput({
                                        showPreview: false,
                                        showUpload: false,
                                        showRemove: false,
                                        uploadUrl: "/uploadConfig"
                                    }).on("filebatchselected", function(event, files) {
                                        $("#"+[[${item.name}]]).fileinput("upload");
                                    }).on("fileuploaded", function (event, data, previewId, index) {
                                        $("input[name='"+[[${item.name}]]+"']").val(data.response.path);
                                    });
                                </script>
                            </div>

                            <div class="col-sm-9" th:if="${item.type=='string'}">
                                <input type="text" th:name="${item.name}" class="form-control" th:id="${item.name}"/>
                            </div>

                        </div>

                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content:center;" id="data-row"></div>
        <!-- loading -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        正在计算，请稍后。。。<span id="result"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script th:inline="javascript">

    $(function (){

        var inputs = [[${config.input}]];

        $('#myForm').on('submit', function(e) {
            $('#loading').modal('show');
            e.preventDefault();

            var formData = {};
            inputs.forEach(function (value, index ){
                formData[value.name] = $("input[name='"+value.name+"']").val();
            });

            $.ajax({
                url: "/startCal",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "post",
                dataType: 'json',
                data: JSON.stringify(formData),
                success: function(response) {
                    $('#loading').modal('hide');
                    if (response.success && response.data){
                        console.log(response.data);
                        response.data.forEach(function (value, index){
                            if (value.table){
                                table(value.table);
                            }
                            if (value.chart){
                                chat(value.chart);
                            }
                            if (value.result){
                                result(value.result);
                            }
                        });
                    }else{
                        alert("FAIL!");
                    }
                }
            })
        });

        // 生成图表
        function chat(data){
            var no = Date.now()
            data.forEach(function (value1, index1){
                $("#data-row").append('<div class="col-sm-4"><div class="ibox"><div id="chat'+index1+no+'" style="width: 100%;height:403px;"></div></div></div>')
                var chat = echarts.init(document.getElementById('chat'+index1+no));
                chat.setOption(value1);
            });
        }
        // 生成结果，图片或者文件
        function result(data){
            data.forEach(function (value1, index1){
                $("#data-row").append('<div class="col-sm-4"><div class="ibox"><img style="width: 100%;height:403px;" src="/images/'+value1+'"/></div></div>')
            })
        }

        // 生成表格
        function table(data){
            console.log(data.columns);
            data.columns.forEach(function (value,index){
                value['width'] = 60;
                value['class'] = 'colStyle';
                value['formatter'] = paramsMatter;
            });
            console.log(data.columns)
            var no = Date.now()
            var options = {
                columns: data.columns,
                data: data.data,
                search: false,
                searchOnEnterKey: true,
                pagination: true,
                paginationLoop: true,
                pageSize: 6,
                pageNumber: 1,
                pageList: [6, 12, 24]
            };
            $("#data-row").append('<div class="col-sm-8"><div class="ibox"><table style="table-layout:fixed;" id="myTable'+no+'"></table></div></div>');
            $('#myTable'+no).bootstrapTable(options);
        }

        var paramsMatter = function paramsMatter(value, row, index) {
            //获取备注内容
            //判断备注内容是否为空，为空则设置为空字符
            if (value == null) {
                value = "";
            }
            //自定义单元格内容
            var span = document.createElement('span');
            //写入面板标题
            span.setAttribute('title', value);
            //写入面板内容
            span.innerHTML = value;
            //将面板返回至单元格展示
            return span.outerHTML;
        }
    });

</script>
</body>
</html>